[user]
	name = Dave Adsit
	email = david.adsit@gmail.com
[core]
	autocrlf = false
	trustctime = false

[diff]
	tool = p4merge

[difftool]
	prompt = false

[difftool "p4merge"]
	path = C:\\Program Files\\Perforce\\p4merge.exe
	prompt = false

[merge]
	tool = p4merge

[mergetool "p4merge"]
	path = C:\\Program Files\\Perforce\\p4merge.exe
	trustExitCode = true
	keepBackup = false
	prompt = false

[mergetool]
	prompt = false

[push]
	default = matching

[pull]
	default = simple